@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

html {
   /* background: rgb(2, 0, 36); */
      /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 60%, rgba(114, 9, 121, 1) 100%, rgba(255, 0, 129, 1) 100%); */
      /* color: white; */
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav li {
   display: inline-block;
   margin-right: 20px;
}

nav a {
   color:black;
   text-decoration: none;
}

body {
   margin: 0;
   padding: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: block;
}

header {
   background-color: #333;
   color: #241414;
   padding: 20px;
}

main {
   margin: 0 auto;
   padding: auto;
   text-align: center;
}

section {
   margin-bottom: 40px;
}

footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
}

#banner {
   width: 100%;
   max-height: fit-content;
   margin-left: 0;
   margin-right: 0;
}

iframe {
   aspect-ratio: 16/9;
   width: 100%;
   height: 100%;
}

.btn {
   font-size: 2rem;
   font-weight: 700;
   margin: 15px;
   padding: 0.5em 1em;
   color: var(--clr-accent);
   background-color: var(--clr-rgba);
   border: 10px solid var(--clr-accent);
   border-radius: 5px;

   /* transition-property: transform; 
   transition-duration: 0.3s;
   transition-timing-function: ease-in;
   transition-delay: 0ms; */

   transition: transform 0.3s;
}

.btn:hover {
   transform: translateY(-10px);
   background-color: orange;
   color: blue;
}

@keyframes slideInLeft {
   from {
      transform: translateX(-300px);
   }
   to {
      transform: translateX(0px);
   }
   
}

.heading-1 {
   animation-name: slideInLeft;
   animation-duration: 1s;
   animation-timing-function: ease;   
}

.slideInLeft {
   animation: slideInLeft 1s ease;
}